@font-face {
  font-family: "Burka";
  src: url(./fonts/29lt-bukra.ttf);
}
@font-face {
  font-family: "Bill";
  src: url(./fonts/SpecialElite-Regular.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --border-color: rgb(26, 26, 26);
}
ul,
li {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.dark_mode {
  --background-color: rgb(26, 26, 26);
  --color: white;
  --border-color: rgb(130, 130, 130);
}
h2 {
  font-weight: 200;
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
}
.line {
  margin: 30px auto;
  height: 1px;
  width: 90%;
  background-color: gray;
}
body {
  transition: all 0.3s;
  background-color: var(--background-color);
  color: var(--color);
  font-weight: 900;
  font-family: "Burka";
  box-sizing: border-box;
}
.orange {
  color: #f27c22;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
.header_content {
  align-items: center;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 36px;
  line-height: 0.8;
}
.btn {
  font-size: 24px;
  padding: 15px;
  font-weight: 700;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: inherit;
  background-color: inherit;
  &:hover {
    background-color: #f27c22;
  }
}
.shopping_list {
  background-color: rgba(242, 242, 242, 0.8);
  margin: 30px;
  box-shadow: 2px 2px 5px rgba(242, 242, 242, 0.8);
}
.bought {
  background-color: rgba(108, 218, 81, 0.21);
}
.task1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 200;
}
.shopping_list {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.item {
  align-items: center;
  padding: 10px 70px;
  display: flex;
  justify-content: space-between;
}
.item_quabtn {
  display: flex;
  gap: 20px;
}
.item_quantity {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  justify-content: center;
  background-color: #f27c22;
  border-radius: 50%;
  color: white;
  border-radius: 5px;
}
.item_btn {
  border: none;
  background: white;
  width: 30px;
  height: 30px;
}
.form {
  align-items: center;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  margin: 30px;
  /* display: flex; */
  /* width: 100%; */
  gap: 20px;
}

.form_input {
  height: 30px;
  border: none;
  border-bottom: solid 1px gray;
}
.form_btn {
  margin: 10px;
  padding: 10px;
  background-color: #f27c22;
  border: none;
  border-radius: 3px;
}

/* task 2 */

.task2 {
  border-radius: 5px;
  padding: 20px;
  margin: 30px auto;
  box-shadow: 6px 1px 24px -11px rgba(0, 0, 0, 0.75);
  font-family: "Bill", system-ui;
  width: 500px;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f9f9f9,
    #f2f2f3,
    #ececee,
    #e5e6e8,
    #e5e6e8,
    #e5e6e8,
    #e5e6e8,
    #ececee,
    #f2f2f3,
    #f9f9f9,
    #ffffff
  );
}
.bill_title {
  text-align: center;
  margin: 20px;
}
.form_chack {
  gap: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.items_bill {
  padding: 10px 40px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 10px;
}
.item_price {
  text-align: right;
}
.full_price {
  margin-right: 25px;
  text-align: end;
  font-size: 30px;
}
.average_price,
.most_expensive {
  margin: 10px 25px;
  text-align: end;
  font-size: 16px;
}
